* {
  box-sizing: border-box;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

/* #mainpage { 
  justify-content: left;
} */

.container {
    text-align: center;
    margin-top: auto; 
    background-image: url("images/space1.png"); 
    width: 100%;
    color: #ffffff;
    height: 100%;
}
.containercontact {
  text-align: start;
  margin-top: auto; 
  background-image: url("images/space1.png"); 
  width: 100%;
  color: #ffffff;
  height: 100%;
}

#welcome {
    padding: 15%;
}

nav {
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    border-bottom: solid 1px #ffffff;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px #313131;
    text-align: center;
    text-decoration: none;
    color: hwb(0 100% 0%);
    margin-left: 0.5rem;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #ffffff;
  }
  .buttonteams {
    text-align: center;
    height: auto;
    width: 100px;
    margin: auto;
    padding: 10;
    background-color: #fcfcfc;
    border: solid 1px #313131;
  }
  .buttongoback {
    text-align: center;
    height: auto;
    width: 100px;
    margin: auto;
    padding: 10;
    background-color: #ffffff;
    border: solid 1px #313131;
  }

  .titlewelcome {
    font-weight: 200;
    font-size: 5rem;
  }
 
  .box1start {
    display: flex;
    justify-content: flex-end;
  }

  .form {
    flex-direction: column;
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }